<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</Pattern>
		</layout>
	</appender>

	<!--
	<appender name="dailyRollingFileAppender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>applicatoin.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level  [%thread] %logger{35} : %msg %n</pattern>
		</encoder>
	</appender>
	-->
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="rg.hibernate.SQL" level="INFO"/>
	<logger name="jace.shim.springcamp2017" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>