<!DOCTYPE html>
<html lang="ko">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Website CSS style -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Website Font style -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<link rel="stylesheet" href="css/bootstrapValidator.min.css">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	<style>

		body {
			padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
		}
		/* custom inclusion of right, left and below tabs */

		.tabs-below > .nav-tabs,
		.tabs-right > .nav-tabs,
		.tabs-left > .nav-tabs {
			border-bottom: 0;
		}

		.tab-content > .tab-pane,
		.pill-content > .pill-pane {
			display: none;
		}

		.tab-content > .active,
		.pill-content > .active {
			display: block;
		}

		.tabs-below > .nav-tabs {
			border-top: 1px solid #ddd;
		}

		.tabs-below > .nav-tabs > li {
			margin-top: -1px;
			margin-bottom: 0;
		}

		.tabs-below > .nav-tabs > li > a {
			-webkit-border-radius: 0 0 4px 4px;
			-moz-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
		}

		.tabs-below > .nav-tabs > li > a:hover,
		.tabs-below > .nav-tabs > li > a:focus {
			border-top-color: #ddd;
			border-bottom-color: transparent;
		}

		.tabs-below > .nav-tabs > .active > a,
		.tabs-below > .nav-tabs > .active > a:hover,
		.tabs-below > .nav-tabs > .active > a:focus {
			border-color: transparent #ddd #ddd #ddd;
		}

		.tabs-left > .nav-tabs > li,
		.tabs-right > .nav-tabs > li {
			float: none;
		}

		.tabs-left > .nav-tabs > li > a,
		.tabs-right > .nav-tabs > li > a {
			min-width: 74px;
			margin-right: 0;
			margin-bottom: 3px;
		}

		.tabs-left > .nav-tabs {
			float: left;
			margin-right: 19px;
			border-right: 1px solid #ddd;
		}

		.tabs-left > .nav-tabs > li > a {
			margin-right: -1px;
			-webkit-border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
		}

		.tabs-left > .nav-tabs > li > a:hover,
		.tabs-left > .nav-tabs > li > a:focus {
			border-color: #eeeeee #dddddd #eeeeee #eeeeee;
		}

		.tabs-left > .nav-tabs .active > a,
		.tabs-left > .nav-tabs .active > a:hover,
		.tabs-left > .nav-tabs .active > a:focus {
			border-color: #ddd transparent #ddd #ddd;
			*border-right-color: #ffffff;
		}

		.tabs-right > .nav-tabs {
			float: right;
			margin-left: 19px;
			border-left: 1px solid #ddd;
		}

		.tabs-right > .nav-tabs > li > a {
			margin-left: -1px;
			-webkit-border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border-radius: 0 4px 4px 0;
		}

		.tabs-right > .nav-tabs > li > a:hover,
		.tabs-right > .nav-tabs > li > a:focus {
			border-color: #eeeeee #eeeeee #eeeeee #dddddd;
		}

		.tabs-right > .nav-tabs .active > a,
		.tabs-right > .nav-tabs .active > a:hover,
		.tabs-right > .nav-tabs .active > a:focus {
			border-color: #ddd #ddd #ddd transparent;
			*border-left-color: #ffffff;
		}
	</style>

	<title>Jace's SHOP > My page</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Jace's SHOP</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="http://product.jaceshim.com:30001/products?type=createProduct">상품등록</a>
				</li>
				<li>
					<a href="http://product.jaceshim.com:30001/products">상품목록</a>
				</li>
				<li class="active">
					<a href="http://member.jaceshim.com:10001/mypage">마이페이지</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout">로그아웃</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<div class="container">
	<div class="row">
		<!-- tabs left -->
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active"><a id="dev-order-list-link" href="#order-list" data-toggle="tab">주문목록</a></li>
				<li><a id="dev-profile-link" href="#profile" data-toggle="tab">회원정보</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane col-md-8 active" id="order-list"></div>
				<div class="tab-pane col-md-8" id="profile">
					<form id="profileForm" class="form-horizontal" role="form" method="post" data-toggle="validator"></form>
				</div>
			</div>
		</div>
		<!-- /tabs -->
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/validator.min.js"></script>

<script id="order-list-template" type="text/x-jquery-tmpl">

	<div class="form-group">
		<label for="id" class="col-sm-3 control-label">Id</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="id" name="id" value="${id}" readonly="reaonly">
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-3 control-label">Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="name" name="name" value="${name}" placeholder="Enter your Username"
			 data-required-error="이름을 입력해 주세요" required>
			 <div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-9">
			<input type="email" class="form-control" id="email" name="email" value="${email}" placeholder="Enter your Email"
			data-required-error="이메일을 입력해 주세요"
			data-pattern-error="이메일 형식이 올바르지 않습니다" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<label for="address" class="col-sm-3 control-label">Address</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="address" name="address" value="${address}"placeholder="Enter your Address"
			 data-required-error="주소를 입력해 주세요" required>
			 <div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group last">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="button" id="dev-profile-change-button" class="btn btn-success btn-sm">저장</button>
		</div>
	</div>

</script>
<script>
	$(document).ready(function() {

		$('#dev-order-list-link').click(function() {
			$.ajax({
				url: '/orders',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				type: 'GET',
				success: function(data) {
				},
				error: function(jqXHR, textStatus, errorThrown) {

				}
			});
		});

		$('#dev-profile-link').on('click', function() {
			$.ajax({
				url: '/profile',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				type: 'GET',
				success: function(data) {
					console.log(JSON.stringify(data));
					var $profileForm = $('#profileForm');
					$profileForm.html('');
					$('#order-list-template').tmpl(data).appendTo($profileForm);
				},
				error: function(jqXHR, textStatus, errorThrown) {

				}
			});
		});

		$('#profileForm').on('click', '#dev-profile-change-button', function() {
			console.log('clicked button');
			var $profileForm = $('#profileForm');
			$profileForm.validator('update');
			$profileForm.submit();
		});

		$('#profileForm').validator().on('submit', function (e) {
			console.log('aaa');
			if (!e.isDefaultPrevented()) {
				console.log('validation form ');
				var formData = {
					"name": $("#name").val(),
					"email": $("#email").val(),
					"address": $("#address").val(),
				}

				var memberId = $('#id').val();
				$.ajax({
					url: '/api/members/' + memberId + '?type=changeProfile',
					data: JSON.stringify(formData),
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					type: 'POST',
					success: function(data) {
						alert('정상적으로 변경되었습니다');
					},
					error: function(jqXHR, textStatus, errorThrown) {

					}
				});

			}

			return false;
		});
	});
</script>

</body>
</html>