<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Website CSS style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- Website Font style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/signup.css">
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	<title>회원가입</title>
</head>
<body>
<nav class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login">로그인</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-lock"></span> Jace's SHOP 회원가입</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post">
						<div class="form-group">
							<label for="id" class="col-sm-3 control-label">Id</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="id" name="id" placeholder="Enter your Id" required>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="name" name="name" placeholder="Enter your Username" required>
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="address" class="col-sm-3 control-label">Address</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="address" name="address" placeholder="Enter your Address" required>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-3 control-label">Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="password" placeholder="Enter your Password" required>
							</div>
						</div>
						<div class="form-group">
							<label for="confirmPassword" class="col-sm-3 control-label">Confirm</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your Password" required>
							</div>
						</div>
						<div class="form-group last">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-success btn-sm">등록</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {

		$('form').submit(function() {
			if ($('#password').val() !== $('#confirmPassword').val()) {
				alert('비밀번호가 일치하지 않습니다');
				return false;
			}

			var formData = {
				"id": $("#id").val(),
				"name": $("#name").val(),
				"email": $("#email").val(),
				"address": $("#address").val(),
				"password": $("#password").val()
			}

			$.ajax({
				url: '/api/members',
				data: JSON.stringify(formData),
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				type: 'PUT',
				success: function(data) {
					alert('정상적으로 등록되었습니다');
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert(textStatus);
				}
			});

			return false;
		});
	});
</script>
</body>
</html>